body{
    background-color: #F5F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.title{
    color: #293264;
    font-size: 32px; 
    font-family: 'Karla', sans-serif;
    text-align: center;
}
.description{
    color: #293264;
    font-size: 16px;
    margin-top: -15px;
    text-align: center;
}
.start-quiz-button{
    background-color: #4D5B9E;
    color: white;
    height: 52px;
    width: 193px;
    border-radius: 15px;
    border: transparent;
    font-size: 16px;
    cursor: pointer;
    
}

.TopRightShape{
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    background-color: #FFFAD1;
    border-top: 150px solid transparent;
    border-left: 150px solid transparent;
    clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0 0);
    border-radius: 190% 0% 100% 1000%;
    z-index: -1;
}
.ButtonLeftShape{
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    background-color: #DEEBF8;
    border-top: 108px solid transparent;
    border-left: 112px solid transparent;
    clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0 0);
    border-radius: 30% 300% 0 0 ;
    z-index: -1;
}
.container{
    max-width: 700px;
    margin: 0 auto;
}
.questions{
    font-size: 20px;
    color: #293264;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    margin-top: 15px;
}
.allAnswersContainer{
    display: grid;
    grid-template: repeat(4, 1fr) / auto auto;
    margin: 0 auto;
    
}
.allAnswers{
    margin-top: 15px;
    margin-right: 15px;
    height: auto;
    border: 1px solid #293264; 
    border-radius: 15px;
}    
.answers-value{
    text-align: center;
    font-size: 15px; 
    color:#293264;
    font-family: 'Inter';
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
.horizontal-line{
    border-bottom: 2px solid #DBDEF0;
    margin-top: 15px;
}
.check-answers{
    background-color: #4D5B9E;
    color: white;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    border: transparent;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px; 
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.results{
    font-size: 16px;
    font-weight: bold;
    color: #293264;
    margin-top: 15px;
    margin-right: 20px;
}


@media only screen and (min-width: 480px) {
    .container {
        max-width: 700px;
    }
  
    .allAnswersContainer {
      grid-template: auto auto / repeat(5, 1fr);
    }
}
  
  
  
  
  